<%= form_for @post do |f| %>
    <div>
      <%= f.label :title %>:
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :body %>:
      <%= f.text_area :body, cols: 10, rows: 10 %>
    </div>
    </br>

    <div class="control-group">
      <%= f.label => "value", %>
    </div>

    </br>
    <div>
      <%= f.submit %>
    </div>
<% end %>
