<% content_for :header do %>
  Lista de Articulos
<% end %>

<div class="row">
  <%= search_form_for @q do |f| %>
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Go!</button>
        </span>
        <%= f.search_field :title_or_body_cont, class: "form-control",  placeholder: "Search form..."%>
      </div><!-- /input-group -->
    </div>
    
    <div class="col-md-4">
      <div class="input-group">
        <%= select_tag "per", options_for_select([ "1", "2" ], params[:per]), class: 'form-control' %>
      </div>
    </div><!-- /.col-lg-6 -->
  <% end %>
</div><!-- /.row -->


<% @posts.each do |post| %>
  <article>
    <h2><%= post.title %></h2>
    <p><%= truncate(post.body, {length: 140}) %></p>
    <%= link_to "Ver Post", post_path(post), class: "btn btn-link" %>
  </article>
<% end %>

<%= paginate @posts %>

<% if user_signed_in? %>
  <%= link_to "Nuevo Post", new_post_path, class: "btn btn-default" %>
<% end %>