<% content_for :header do %>
  Lista de Articulos
<% end %>

<div class="row">
  <%= search_form_for @q do |f| %>
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Go!</button>
        </span>
        <%= f.search_field :title_or_body_cont, class: "form-control",  placeholder: "Search form..."%>
      </div><!-- /input-group -->
    </div>

    <div class="col-md-4">
      <div class="input-group">
        <%= select_tag "per", options_for_select([ "2", "10" ], params[:per]), class: 'form-control' %>
      </div>
    </div><!-- /.col-lg-6 -->
  <% end %>
</div><!-- /.row -->

<%= render partial: "post", collection: @posts %>

<%= paginate @posts %>

<% if user_signed_in? %>
  <%= link_to "Nuevo Post", new_post_path, class: "btn btn-default" %>
<% end %>