<% content_for :header do %>
  <%= @post.title %>
<% end %>

<%= link_to "Volver", posts_path %>

<article>
  <p class="lead"><%= @post.body %></p>
  <p>Creado en <%= time_ago_in_words(@post.created_at)%></p>
  <%= link_to "Editar", edit_post_path(@post)%>
  <%= link_to "Eliminar", post_path(@post), method: :delete, data: {confirm: "Estas seguro que deseas eliminar este articulo?"} %>

  <h3>Comentarios</h3>

  <ul>
    <% @comments.each do |comment| %>
      <li>
        <p><%=comment.message%></p>
        <%= link_to "Eliminar Comentario", post_comment_path(@post, comment), method: :delete, data: {confirm: "Estas seguro que deseas eliminar este articulo?"} %>
      </li>
    <% end %>
  </ul>

  <h2>Add a comment:</h2>
  <%= form_for([@post, @post.comments.build]) do |f| %>
    <p>
         <%= f.label :message, "Comentarios" %>

        <%= f.text_field :message %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>





</article>
